body {font-family:Arial, Helvetica, sans-serif; }
h2, h3 {color: blueviolet;}
.ListDisplay {
    margin-top: 1vh;
    margin-left: 3vw;
    width: 90vw;
}
.Footer { position: fixed; bottom: 2vh; right: 3vw; }
.QRefBidSeq {margin-left: 20px;}
.QRefBidList {grid-template-columns: 4vw 23vw 10vw 8vw; display: grid; }
.QRefBidList:nth-child(even) { background-color: #f5f5f5;}
.Error, .BidDesc {font-style: italic; color:blueviolet;}
.BidFlags {font-style: italic; color: brown;}
.BidHeadMenu { width: 8em; margin-right: 5px; margin-left: 5px; }
.SeqBid, .SeqHeader {justify-self: center;}
.SeqHeader {font-weight: bold; font-style: italic; background-color: azure;}
.ConfigDisplay {
    float: left;
    margin-top: 20px;
    width: 40em;
    display: grid;
    grid-template-columns: 17em 25em;
}
.ConfigHeading {
    justify-self: right;
    margin-right: 15px;
    font-weight: bold;
    color: blueviolet;
}
.ConfigData { font-style: italic; }
.BidKeys { display: grid; grid-template-columns: repeat(3, 15vw) 20vw; }
.ConfigUI, .QRefUI, { font-family: inherit; font-size: inherit; margin: 5px;}
@media screen and (max-width: 981px) {
body {font-size: 3vw;}
.QRefBidList {grid-template-columns: 8vw 50vw 30vw 16vw;}
.ConfigDisplay {grid-template-columns: 45vw 45vw;
}
